<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Your Cart</h3>
    <p>Items:<%= cart.total_items %></p>
    <p>Total:<%= cart.total_price %></p>
    <br>
  </div>
</div>

<%= render(cart.line_items) %>


<!-- <%#= link_to 'Edit', edit_cart_path(cart) %> 
<%#= link_to 'Back', carts_path %> -->
<%= button_to "Empty Cart", cart, method: :delete, confirm: "Are you sure?", class: "btn btn-danger btn-xs", remote: true %>
<%= link_to "Checkout", new_order_path, class: 'btn btn-primary btn-xs' %>