<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Your Cart</h1>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <ul>
    <% @cart.line_items.each do |item| %>
    <li>
      <%= item.product.title %> &times; <%= item.quantity %> <%= number_to_currency(item.product.price) %>
    </li>
    <% end %>
  </ul>
  </div>
</div>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
<%= button_to "Empty Cart", @cart, method: :delete, confirm: "Are you sure?" %>
<h1>Add total price table</h1>
