<!DOCTYPE html>
<html>
<head>
  <title>Mystore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:success] %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:error] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:alert] %>
  </div>
<% elsif flash[:notice] %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:notice] %>
  </div>
<% end %>

<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-2 col-sm-2 text-center" id="side-nav">
      <ul class="nav nav-pills nav-stacked">
      <% if current_user %>
        <li class="no-point btn btn-primary"><small>Hello <%= current_user.email %>!</small></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
        <li><%= link_to "Site Home", root_url(subdomain: false) %></li>
        <li><%= link_to "Store Home", root_path %></li>
        <li><%= link_to "Create Store", new_store_path %></li>
<!--         <%# if current_store %>
          <li><%#= link_to "Admin", store_products_path(current_store) %></li>
        <%# end %> -->
        <li><%= link_to "Account Overview", home_url(subdomain: false) %></li>
      </ul>
      <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, id: "side-cart") do %>
        <%= render @cart %>
      <% end %>
      <% end %>
    </div>

    <div class="col-md-10 col-sm-10">
      <%= yield %>
    </div>
  </div>
<!-- </div> -->

</body>
</html>
